* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
a.active {
  padding: 7px 25px;
  background: #6b63b5;
  color: #ffffff;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 70%;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}
a.active:hover {
  background: #514a92;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999999;
  background: #202335;
  border-bottom: solid 1px #434343;
}
header .columnLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 40vw;
}
header .columnLeft .menu {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-right: 12vw;
}
header .columnLeft .ticket img {
  width: 40px;
}
header .columnCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
}
header .columnCenter #logo {
  width: 48px;
}
header .columnCenter #logo:hover {
  -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
  transition: 0.5s ease-in-out;
}
header .columnRight {
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 40vw;
}
header .columnRight a {
  margin: 0 20px 0 20px;
  transition: 0.5s ease-in-out;
}
header .columnRight .login {
  margin-right: 40px;
}
header .columnRight .new-post img {
  width: 25px;
}
header .columnRight .manage:hover {
  -webkit-filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
  filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
  transition: 0.3s ease-in-out;
}

#menuToggle {
  display: block;
  position: relative;
  top: 4px;
  left: 30px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #f0f0f0;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background-image: radial-gradient(circle, #ded0a0 0%, #a79666 100%);
  background-image: -webkit-radial-gradient(circle, #ded0a0 0%, #a79666 100%);
  background-image: -moz-radial-gradient(circle, #ded0a0 0%, #a79666 100%);
  background-image: -ms-radial-gradient(circle, #ded0a0 0%, #a79666 100%);
  background-image: -o-radial-gradient(circle, #ded0a0 0%, #a79666 100%);
}

/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
* Make this absolute positioned
* at the top left of the screen
*/
#menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw + 65px);
  height: calc(100vh + 100px);
  margin: -100px 0 0 -65px;
  padding: 50px;
  padding-top: 125px;
  background: #202335;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(0%, -100%);
  transition: transform 0.6s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  color: white;
  font-weight: 200;
  transition: 0.2s ease-in-out;
}
#menu li:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

/*
* And let's slide it in from the left
*/
#menuToggle input:checked ~ ul {
  transform: none;
}

@media only all and (max-width: 790px) {
  header .columnRight a {
    margin: 0 10px 0 10px;
  }
}
@media only all and (max-width: 600px) {
  header .columnRight a {
    margin: 0 5px 0 5px;
  }
}
@media only all and (max-width: 510px) {
  header .columnRight .logout {
    display: none;
  }
  header .columnRight a {
    margin: 0 10px 0 10px;
  }
}

/*# sourceMappingURL=header.css.map */
