{{define "account"}}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/edit-account.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <link rel="icon" href="static/images/web_favicon.png" type="image/icon type">

    <title>FAIRFAX | Account settings</title>
</head>

<body>
    <a href="/Profile?user={{ .User.Username }}" title="Profile page" id="arrow">←</a>
    <a href="/" title="Home"><img id="cross" src="static/images/close-cross.png "></a>

    <div class="container">
        <div id="create-your-account">Account Settings</div>
        <div id="ornament">
            <div id="fading-line-left"></div>
            <div id="diamond-shape"></div>
            <div id="fading-line-right"></div>
        </div>

        <form action="/edit-account" id="form-validation" method="POST" enctype="multipart/form-data">

            <div class="label">Profile picture</div>
            <label class="custom-file-upload">
                <input type="file" name="image" accept="image/*" id="image_input">
                <img class="avatar-img" src="{{ .User.Avatar }}" title="Change your profile picture">
            </label>

            <div class="label">Username</div>
            <div class="inputWithIcon">
                <input id="username" type="text" name="username" placeholder="Change your username" pattern="^[ a-zA-Z0-9._]{3,20}" title="Only letters, numbers, spaces, dots and underscores. Length required: 3 ~ 20">
                <i class="fa fa-user fa-fw" aria-hidden="true"></i>
            </div>

            {{if .Error.Username }}
            <a href="/edit-account" class="http-error">This username is unavailable.</a> {{ end }}

            <div class="invalid-username" style="display:none">Must be 3 to 20 characters.</div>
            <div class="invalid-username" style="display:none">Only letters, numbers, spaces, dots or underscores.</div>

            <div class="label">Email address</div>
            <div class="inputWithIcon">
                <input type="email" name="email" placeholder="Change your email address" maxlength="40">
                <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
            </div>

            {{if .Error.Email }}
            <a href="/login" title="Login" class="http-error">This email already exists.</a> {{ end }}

            <div class="label">Password</div>
            <div class="inputWithIcon">
                <input id="pwd-1" name="password" type="password" placeholder="Change your password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,30}">
                <i class="fa fa-lock fa-fw" aria-hidden="true"></i>
            </div>

            <div class="inputWithIcon">
                <input id="pwd-2" name="password" type="password" placeholder="Confirm your new password">
                <i class="fa fa-lock fa-fw" aria-hidden="true"></i>
            </div>
            <div id="invalid-password" style="display:none">Your passwords do not match.</div>

            <div class="info">
                <div>Your new password must contain the following :</div>
                <br>
                <div class="requirement">
                    <svg id="svg-1" height="13" viewBox="0 0 16 13" width="16">
                        <path d="m5.6 8-3.2-3.2-2.4 2.4 5.6 5.6 10.4-10.4-2.4-2.4z" fill="#fff"></path>
                    </svg>
                    <div class="text">A minimum of 6 characters</div>
                </div>

                <div class="requirement">
                    <svg id="svg-2" height="13" viewBox="0 0 16 13" width="16">
                        <path d="m5.6 8-3.2-3.2-2.4 2.4 5.6 5.6 10.4-10.4-2.4-2.4z" fill="#fff"></path>
                    </svg>
                    <div class="text">A number and a combination of<br>uppercase and lowercase letters.</div>
                </div>
            </div>

            <button type="submit" class="btn">Apply changes</button>

            <!-- <div class="buttons">
                <a class="active logout" href="/logout">Logout</a>
                <button class="delete-btn" onclick="">Delete your account</button>
            </div> -->

            <div class="buttons">
                <a class="logout" href="/logout">
                    <i class="fa fa-power-off" aria-hidden="true"></i>
                    <p>Logout</p>
                </a>


                <div class="delete" onclick="DeleteAccountRequest({{ .User.ID }});">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <p>Delete your account</p>
                </div>
            </div>

        </form>

    </div>

</body>

<script src="static/js/edit-account.js"></script>

<script>
</script>

</html>

{{end}}