{{define "forgotten-password"}}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/register.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <link rel="icon" href="../static/images/web_favicon.png" type="image/icon type">

    <title>FAIRFAX | I have forgotten my password</title>
</head>

<body>
    <a href="/login" title="Login" id="arrow">←</a>
    <a href="/" title="Home"><img id="cross" src="static/images/close-cross.png "></a>

    <div class="container">
        <div id="create-your-account">Password Renewal</div>
        <div id="ornament">
            <div id="fading-line-left"></div>
            <div id="diamond-shape"></div>
            <div id="fading-line-right"></div>
        </div>

        <form action="/forgotten-password" id="form-validation" method="POST">

            <div class="label">Email address</div>
            <div class="inputWithIcon">
                <input type="email" name="email" placeholder="Enter your email address" required>
                <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
            </div>

            {{if eq . "VALID EMAIL" }}
            <div class="http-valid">An email has been sent. Please check your mailbox.</div>
            {{ end }} {{if eq . "INVALID EMAIL" }}
            <div class="http-error">This email is not registered on Fairfax.</div>
            {{ end }}

            <button type="submit" class="btn">Renew my password</button>

        </form>
    </div>

</body>

</html>

{{end}}