{{define "header" }}

<header>

    <div class="left">
        <a class="menu" href="/">X</a>
    </div>

    <div class="center">
        <a href="/">
            <img id="logo" src="/static/images/main_logo.png">
        </a>
    </div>

    {{ if and (eq .Role 0) (eq .State 0) }}

    <div class="right">
        <a class="active login" href="/login">Login</a>
    </div>

    {{ else }}

    <div class="right">

        <!-- Si le user est un modo/admin/dev : -->
        {{ if and (gt .Role 2) (eq .State 0) }}
        <a class="manage" href="/moderation">
            <img id="logo" src="/static/images/profile/settings.svg">
        </a>
        {{ end }}

        <a class="new-post" href="/new-post">
            <img class="new-post-img" src="../static/images/plus_sign.png" title="Publish a new fax">
        </a>

        <a class="profile" href="/Profile?user={{ .Username }}">
            <img class="profile-img" src="../static/images/profile.png" title="Your profile page">
        </a>

        <a class="active logout" href="/logout">Logout</a>
    </div>

    {{ end }}

</header>

{{end}}