{{define "index"}}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/loading.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="icon" href="../static/images/web_favicon.png" type="image/icon type">
    <title>FAIRFAX | Welcome</title>
</head>

<body>

    {{template "header" .User }}

    <section id="top-banner">
        <img src="../static/images/index/sky1_purple.webp" class="skies" id="sky1">
        <img src="../static/images/index/sky2_purple.webp" class="skies" id="sky2">
        <div id="container">
            <div id="title">Fairfax</div>
            <div id="subtitle">A web forum made in Go and SQLite with lots of exciting features.</div>
        </div>
    </section>

    <section id="newspaper">
        <div class="head">
            <div class="headerobjectswrapper">
                <div class="title">The Fairfax Post</div>
            </div>

            <div class="today-date">Today</div>
        </div>
        <div class="container">
            <div class="columns">

                <div class="column">
                    <div class="icon">
                        <img src="../static/images/like_empty.png" title="The most liked post of the week">
                    </div>

                    <div class="head">
                        <a href="/post/{{ .MostLikedPost.ID }}">
                            <span class="headline hl">{{ .MostLikedPost.Title }}</span>
                        </a>

                        <a class="author" href="/Profile?user={{ .MostLikedPost.Author.Username }}">
                            {{ if ne .MostLikedPost.Author.House.ID 0 }}
                            <img class="house-img" src="{{ .MostLikedPost.Author.House.Image}}">
                            {{ end }}
                            <p><span class="headline hl1-author">by {{ .MostLikedPost.Author.Username }}</span></p>
                            <img class="avatar-img" src="{{ .MostLikedPost.Author.Avatar}}">
                        </a>

                    </div>

                    <p class="content">
                        {{.MostLikedPost.Content}}
                    </p>

                    <!-- Si la longueur du nom de l'image > 5, c'est qu'elle existe : -->
                    {{ if gt (len .MostLikedPost.Image) 5 }}
                    <figure class="figure">
                        <img class="media" src="{{ .MostLikedPost.Image }}" alt="Image">
                    </figure>
                    {{ end }}

                </div>

                <div class="column">
                    <div class="icon">
                        <img src="../static/images/reply.png" title="The most commented post of the week">
                    </div>

                    <div class="head">
                        <a href="/post/{{ .MostCommentedPost.ID }}">
                            <span class="headline hl">{{ .MostCommentedPost.Title }}</span>
                        </a>

                        <a class="author" href="/Profile?user={{ .MostCommentedPost.Author.Username }}">
                            {{ if ne .MostCommentedPost.Author.House.ID 0 }}
                            <img class="house-img" src="{{ .MostCommentedPost.Author.House.Image}}">
                            {{ end }}
                            <p><span class="headline hl1-author">by {{ .MostCommentedPost.Author.Username }}</span></p>
                            <img class="avatar-img" src="{{ .MostCommentedPost.Author.Avatar}}">
                        </a>

                    </div>

                    <p class="content">
                        {{.MostCommentedPost.Content}}
                    </p>

                    <!-- Si la longueur du nom de l'image > 5, c'est qu'elle existe : -->
                    {{ if gt (len .MostCommentedPost.Image) 5 }}
                    <figure class="figure">
                        <img class="media" src="{{ .MostCommentedPost.Image }}" alt="Image">
                    </figure>
                    {{ end }}

                </div>

                <div class="column" id="column-3">
                    <div class="icon">
                        <img src="../static/images/clock.png" title="The most recent post">
                    </div>

                    <div class="head"><a href="/post/{{ .MostRecentPost.ID }}"><span class="headline hl">{{ .MostRecentPost.Title }}</span></a>
                        <a class="author" href="/Profile?user={{ .MostRecentPost.Author.Username }}">
                            {{ if ne .MostRecentPost.Author.House.ID 0 }}
                            <img class="house-img" src="{{ .MostRecentPost.Author.House.Image}}">
                            {{ end }}
                            <p><span class="headline hl1-author">by {{ .MostRecentPost.Author.Username }}</span></p>
                            <img class="avatar-img" src="{{ .MostRecentPost.Author.Avatar}}">
                        </a>
                    </div>
                    <p class="content">
                        {{.MostRecentPost.Content}}
                    </p>

                    <!-- Si la longueur du nom de l'image > 5, c'est qu'elle existe : -->
                    {{ if gt (len .MostRecentPost.Image) 5 }}
                    <figure class="figure">
                        <img class="media" src="{{ .MostRecentPost.Image }}" alt="Image">
                    </figure>
                    {{ end }}

                </div>


                {{ if ne .PromotedPost.ID 0 }}
                <div class="column">
                    <div class="icon">
                        <h1 title="This post has been highlighted by our team">⭐</h1>
                    </div>

                    <div class="head"><a href="/post/{{ .PromotedPost.ID }}"><span class="headline hl">{{ .PromotedPost.Title }}</span></a>
                        <a class="author" href="/Profile?user={{ .PromotedPost.Author.Username }}">
                            {{ if ne .PromotedPost.Author.House.ID 0 }}
                        <img class="house-img" src="{{ .PromotedPost.Author.House.Image}}"> 
                        {{ end }}
                            <p><span class="headline hl1-author">by {{ .PromotedPost.Author.Username }}</span></p>
                            <img class="avatar-img" src="{{ .PromotedPost.Author.Avatar}}">
                        </a>
                    </div>
                    <p class="content">
                        {{.PromotedPost.Content}}
                    </p>

                    <!-- Si la longueur du nom de l'image > 5, c'est qu'elle existe : -->
                    {{ if gt (len .PromotedPost.Image) 5 }}
                    <figure class="figure">
                        <img class="media" src="{{ .PromotedPost.Image }}" alt="Image">
                    </figure>
                    {{ end }}

                </div>
                {{ end }}

                <!-- Columns -->
            </div>

            <!-- Container -->
        </div>

        <!-- section#newspaper -->
    </section>

    <section id="category-banner">
        <div class="separator"></div>

        <div class="wrapper">

            <div class="bullets">
                <button class="btn-arrow" onclick="swipeLeft()">
                    <pre class="arrow">❮          </pre>
                </button>
                <input type="radio" name="slider" class="slider_nav" id="radio1" checked="checked" onchange="fade(0);" />
                <input type="radio" name="slider" class="slider_nav" id="radio2" onchange="fade(1);" />
                <input type="radio" name="slider" class="slider_nav" id="radio3" onchange="fade(2);" />
                <input type="radio" name="slider" class="slider_nav" id="radio4" onchange="fade(3);" />
                <input type="radio" name="slider" class="slider_nav" id="radio5" onchange="fade(4);" />
                <input type="radio" name="slider" class="slider_nav" id="radio6" onchange="fade(5);" />
                <input type="radio" name="slider" class="slider_nav" id="radio7" onchange="fade(6);" />
                <input type="radio" name="slider" class="slider_nav" id="radio8" onchange="fade(7);" />
                <input type="radio" name="slider" class="slider_nav" id="radio9" onchange="fade(8);" />
                <input type="radio" name="slider" class="slider_nav" id="radio10" onchange="fade(9);" />
                <input type="radio" name="slider" class="slider_nav" id="radio11" onchange="fade(10);" />
                <button class="btn-arrow" onclick="swipeRight()">
                    <pre class="arrow">          ❯</pre>
                </button>
            </div>

            <div class="container slider" id="slider0" style="opacity:1">
                <div class="left"><img src="static/images/index/categories/Wizarding_World.jpg"></div>
                <div class="right">
                    <div class="text-container">
                        <p class="headline">Discover the spots</p>
                        <p class="title">Explore Fairfax</p>
                        <p class="description">Fairfax is designed as a miniature city with lots of meeting spots to hang out in. <br><br>Want to discuss a hot topic or have a casual chat about daily life? The <strong>Café</strong> is your best bet! <br><br>Would you like to
                            chat about your favourite author's brand new novel? The <strong>Library</strong> is the perfect place for you!</p>
                    </div>
                </div>
            </div>
            {{ range .Categories }}
            <div class="container slider" id="slider{{.ID }}" style="opacity:0">
                <div class="left"><img src="static/images/index/categories/category_{{.ID }}.jpg"></div>
                <div class="right">
                    <div class="text-container">
                        <p class="headline">{{.Theme}}</p>
                        <p class="title">{{ .Name }}</p>
                        <p class="description">{{.Description}}</p>
                        <a href="/category/{{ .ID }}" class="btn">Visit</a>
                    </div>
                </div>
            </div>
            {{ end }}


        </div>
    </section>

    {{ if eq .User.House.ID 0 }}
    <section id="join-club">
        <div class="join-club-banner">
            <img class="club-banner-img" src="../static/images/index/join-club.jpg">
            <div class="container">
                <p>Join a local sports club</p>
                {{ if gt .User.Role 0 }}
                <a class="join-btn" href="/join-house">Take the test</a> {{ else }}
                <a class="join-btn" href="/login">Log in to take the test</a> {{ end }}
            </div>
        </div>
    </section>

    {{ end }}
    <!--  -->

    {{template "loading" . }}

</body>

<script src="static/js/index.js"></script>
<script src="static/js/date.js"></script>
<script src="static/js/content.js"></script>
<script src="static/js/loading.js"></script>

</html>

{{end}}