{{define "register-secret"}}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/signup.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <link rel="icon" href="static/images/web_favicon.png" type="image/icon type">

    <title>FAIRFAX | Complete your account</title>
</head>

<body>
    <div class="background">
        <img src="static/images/stars.png" id="stars">
    </div>

    <div class="container">
        <a href="/" title="Home" id="arrow">←</a>

        <form method="post">
            <div>Question secrète :</div>
            <input type="text" name="secret-question" placeholder="Type your secret question" required>
            <div>Réponse :</div>
            <input type="text" name="secret-answer" placeholder="Type your answer" required>
            <button type="submit">PROCEED</button>
        </form>
    </div>

</body>

</html>

{{end}}