* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    &.active {
        padding: 7px 25px;
        background: #6b63b5;
        color: #ffffff;
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
        font-size: 70%;
        border-radius: 3px;
        transition: 0.3s ease-in-out;
        &:hover {
            background: #514a92;
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 17px 17px; // Haut, bas
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999999;
    background: #202335;
    border-bottom: solid 1px #434343;
    .columnLeft {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 40vw;
        .menu {
            color: white;
            font-weight: 700;
            text-decoration: none;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding-right: 12vw;
        }
        .ticket {
            img {
                width: 40px;
            }
        }
    }
    .columnCenter {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-100%, -50%);
        #logo {
            width: 48px;
            &:hover {
                -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
                filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
                transition: 0.5s ease-in-out;
            }
        }
    }
    .columnRight {
        float: right;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 40vw;
        a {
            margin: 0 20px 0 20px;
            transition: 0.5s ease-in-out;
        }
        .login {
            margin-right: 40px;
        }
        .profile {
            img {}
        }
        .new-post {
            img {
                width: 25px;
            }
        }
        .manage {
            &:hover {
                -webkit-filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
                filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
                transition: 0.3s ease-in-out;
            }
        }
    }
}

@media only all and (max-width: 790px) {
    header {
        .columnRight {
            a {
                margin: 0 10px 0 10px;
            }
        }
    }
}

@media only all and (max-width: 600px) {
    header {
        .columnRight {
            a {
                margin: 0 5px 0 5px;
            }
        }
    }
}

@media only all and (max-width: 510px) {
    header {
        .columnRight {
            .logout {
                display: none;
            }
            a {
                margin: 0 10px 0 10px;
            }
        }
    }
}

//Menu hamburger
// OLD AGAIN :

/*
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 13px 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    background: #202335;
    border-bottom: solid 1px #434343;
    .left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        .menu {
            color: white;
            font-weight: 700;
            text-decoration: none;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-left: -40px;
        }
        .manage {}
        #logo {
            width: 48px;
            &:hover {
                -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
                filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
                transition: 0.5s ease-in-out;
            }
        }
    }
    .right {
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
}
*/

// OLD :

/*
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 13px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999999;
    background: #202335;
    border-bottom: solid 1px #434343;
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        &.active {
            margin-left: 25px;
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-100%, -50%);
            padding: 7px 25px;
            // margin: 0 0 0 3vw;
            background: #6b63b5;
            color: #ffffff;
            text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
            text-transform: uppercase;
            font-size: 70%;
            border-radius: 3px;
            transition: 0.3s ease-in-out;
            &:hover {
                background: #514a92;
            }
        }
    }
    .menu {
        color: white;
        font-weight: 700;
        text-decoration: none;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        float: left;
    }
    img#logo {
        width: 48px;
        margin-left: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-100%, -50%);
        &:hover {
            -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
            filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
            transition: 0.5s ease-in-out;
        }
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            list-style: none;
            // margin-left: 20px;
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                &.active {
                    padding: 7px 25px;
                    margin: 0 0 0 3vw;
                    background: #6b63b5;
                    color: #ffffff;
                    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
                    text-transform: uppercase;
                    font-size: 70%;
                    border-radius: 3px;
                    transition: 0.3s ease-in-out;
                    &:hover {
                        background: #514a92;
                    }
                }
                &.avatar {
                    img {
                        // width: 25px;
                        // border-radius: 100px;
                        width: 100%;
                    }
                }
                &.new-post {
                    img {
                        width: 25px;
                        margin-right: 2vw;
                    }
                }
            }
        }
    }
}
*/